.vid{
    width: 800px;
    height: 281px;
    margin-left: 70px;
    margin-top: 30px;
}
.Nuzi{
height: 281.25px;
width: 500px;

}
.Buzi{
    height:281px;
    width:500px;
    margin-bottom: 110px;
}
.Cuzi{
    height:400px;
    width:500px;
    position:absolute;
    margin-left: 430px;
    
    

}
.Nuzis{
    height:400px;
    width:400px;
    
}
.bg{
    background-image: url(images/maybe.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.text{
    color: rgb(255, 255, 0);
    text-decoration: underline rgb(175, 11, 175);
    text-decoration-style: double;
    text-decoration-skip-ink: none;
}
.UZI{
    color: rgb(255, 255, 0);
    text-decoration: underline rgb(175, 11, 175);
    text-decoration-style: double;
    text-decoration-skip-ink: none; 
    margin-left:400pt; 
    font-size: 15pt;
    background-color: rgb(105, 103, 103);
    border: 6px solid black;
    border-width: 3px black;
    border-collapse: collapse;
    
    
    
  
} 
.texts{
    position: absolute;
    margin-top: 70pt;
    color: rgb(255, 255, 0);
    text-decoration: underline rgb(175, 11, 175);
    text-decoration-style: double;
    text-decoration-skip-ink: none; 
    border-bottom: 1px solid black;
    
}
.border{
    border-bottom: 6px solid black;
    border-right: 6px solid black;
    height: 50pt;
    padding: 0%;
    margin: 0%
    padding 0px 5px 0px 5px;
    margin: 0;

    
 
}
.link{
    color:white;
    font-size: 24px;
    margin-right: 50px;
    background-color: purple;
    
    
}
.link:hover{
    color: yellow;
    font-size: 24px;
    background-color: purple;
    
}

.container {
    display: flex;
    align-items: center;
}
